:root {
    --color-black: #141414;
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-white: #fff;
    --font: 'Chivo Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-black);
}